.container {
  display: flex;
}
.sidebar {
  width: 20%;
  background-color: #444444;
  height: 100vh;
}
.buttonContainer {
  height: 57vh;
}
.logo {
  margin: 4vh;
  width: 70%;
  height: 15vh;
  color: white;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}
.navBtn {
  color: white;
  font-size: 1.5rem;
  margin-top: 1vh;
  height: 3vh;
  text-decoration: none;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.bottom {
  margin-top: 5vh;
  height: 15vh;
}

.userData {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: #f0f0f0;
  font-size: 1.3rem;
  justify-content: space-between;
}
.userIcon {
  width: 70%;
  height: 7vh;
  font-size: 2rem;
  background-color: #f0f0f0;
  color: #333333;
  border-radius: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logoutIcon {
  font-size: 2.5rem;
  transform: rotate(180deg);
}
.selectedBtn {
  color: #333333;
  background-color: #f0f0f0;
}
.navListButton {
  font-size: 1.5rem;
  margin-top: 1vh;
  height: 3vh;
  text-decoration: none;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
}
.listContainer {
  background-color: #2a2a2a;

  height: 30vh;
  overflow: auto;
}
.wordbase {
  color: white;
  font-size: 1.5rem;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  height: 3vh;
  text-align: center;
}
.wordbase:hover {
  color: #ccc;
  cursor: pointer;
  background-color: #222;
}
.header {
  height: 8vh;
  background-color: #444444;
  display: none;
  justify-content: left;
  align-items: center;
}
.openBtn {
  display: none;
  width: 20%;
  justify-content: center;
  align-items: center;
}

/* phone layout */
@media screen and (max-width: 800px) {
  .sidebar {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    transition: 0.3s;
  }
  .opened {
    left: 0;
  }
  .closeBtn {
    display: block;
  }
  .openBtn {
    display: flex;
  }
  .header {
    display: flex;
  }
  .logo {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    height: auto;
    width: 60%;
  }
  .container {
    display: block;
  }
}
